
<section class="section bg-light" id="a-propos">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="text-center mb-5">
          <h2 class="mb-3 h3 fw-semibold lh-base">Présentation</h2>
          <p class="text-muted">À propos de moi</p>
        </div>
      </div>
    </div>
    <div class="row g-4">
      <div class="col-lg-4">
        <img src="{{ asset('assets/images/users/avatar-1.jpg')}}" alt="" class="img-fluid mb-3 pb-2">
      </div>
      <div class="col-lg-8">
        <p class="lead">
          Passionné par la technologie et l'innovation, je suis un développeur web avec plusieurs années d'expérience en conception et développement de sites et applications web en PHP et en JavaScript. Mon parcours m'a permis de maîtriser une gamme de technologies, y compris HTML, CSS, JavaScript, ainsi que des frameworks populaires comme React, Laravel, Vue, Symfony.
        </p>
        <p class="lead">
          Je m'engage à créer des expériences utilisateur fluides et réactives, en mettant l'accent sur l'optimisation mobile et la performance. Mon objectif est de transformer les idées en réalités numériques captivantes, et je suis toujours à la recherche de nouveaux défis pour pousser les limites de ce qui est possible sur le web. 
        </p>
        <p class="lead">
          N'hésitez pas à parcourir mon portfolio pour voir des exemples de mon travail et pour discuter de votre prochain projet.
        </p>
        <a href="#contact" class="btn btn-primary">Contactez-moi !</a>
      </div>
    </div>
  </div>
</section>