<section class="py-5 bg-light position-relative" id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="text-center mb-5">
          <h2 class="mb-3 fw-semibold lh-base">Contactez-moi !</h2>
          <p class="text-muted">Prennons le temps de faire connaissance</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-lg-3">
          <div class="card card-animate">
            <div class="card-body">
              <div class="card-text text-center"><i class="ri-whatsapp-line"></i></div>
            </div>
            <div class="card-footer">
              <a href="https://api.whatsapp.com/send?phone={{ APP_PHONE_NUMBER }}&text=Hello Frédérick, " target="_blank" class="text-body">
                M'envoyer un message <i class="ri-arrow-right-s-line align-middle lh-1"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <div class="card card-animate">
            <div class="card-body">
              <div class="card-text text-center"><i class="ri-mail-send-line"></i></div>
            </div>
            <div class="card-footer">
              <a href="mailto:{{ APP_EMAIL_CONTACT }}?subject=Demande de contact via agathefrederick.fr&cci=agathefrederick@gmail.com&body=Bonjour Frédérick,%0D%0A Je suis " class="text-body">
                M'envoyer un e-mail <i class="ri-arrow-right-s-line align-middle lh-1"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <div class="card card-animate">
            <div class="card-body">
              <div class="card-text text-center"><i class="ri-phone-line"></i></div>
            </div>
            <div class="card-footer">
              <a href="tel:+{{ APP_PHONE_NUMBER }}" class="text-body">
                M'appeler <i class="ri-arrow-right-s-line align-middle lh-1"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- TODO: À remettre quand la page de contact sera prête -->
        {# <div class="col-6 col-lg-3">
          <div class="card card-animate">
            <div class="card-body">
              <div class="card-text text-center"><i class="ri-file-text-line"></i></div>
            </div>
            <div class="card-footer">
              <a href="javascript:void(0);" class="text-body">
                Formulaire de contact <i class="ri-arrow-right-s-line align-middle lh-1"></i>
              </a>
            </div>
          </div>
        </div> #}
        <div class="col-6 col-lg-3">
          <div class="card card-animate">
            <div class="card-body">
              <div class="card-text text-center"><i class="ri-linkedin-box-fill"></i></div>
            </div>
            <div class="card-footer">
              <a href="{{ APP_LINKEDIN_URL }}" target="_blank" class="text-body">
                Consulter mon LinkedIn <i class="ri-arrow-right-s-line align-middle lh-1"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</section>