{% for type, message in app.flashes %}
  <div class="my-3">
    <div class="alert alert-{{ type }} alert-dismissible border-0 shadow fade show" role="alert">
      <small>{{ message|raw }}</small>
      <button class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
{% endfor %}