<nav class="navbar navbar-expand-lg navbar-landing navbar-light fixed-top" id="navbar">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="images/logo.png" class="card-logo card-logo-dark" alt="logo dark" height="30">
      <img src="images/logo.png" class="card-logo card-logo-light" alt="logo light" height="30">
    </a>
    <button class="navbar-toggler py-0 fs-20 text-body" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="mdi mdi-menu"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mt-2 mt-lg-0" id="navbar-homepage">
        <li class="nav-item">
          <a class="nav-link fs-15 active" href="#accueil">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-15" href="#a-propos">À propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-15" href="#competences">Compétences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-15" href="#parcours">Parcours</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-15" href="#portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-15" href="#contact">Contact</a>
        </li>
      </ul>

      <div class="">
        <a href="#" class="btn btn-success">Contactez-moi</a>
      </div>
    </div>

  </div>
</nav>